<header class="absolute top-0 inset-x-0 z-50">
  <nav
    class="flex items-center justify-between p-6 md:px-8"
    aria-label="Global"
  >
    <div class="ls cxe">
      <a href="#" class="flex p-1.5">
        <span class="sr-only">Your Company</span>

        <img
          class="h-6 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600"
          alt=""
        />
      </a>
    </div>

    <ul class="hidden md:flex gap-x-12">
      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Product
        </a>
      </li>

      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Features
        </a>
      </li>

      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Marketplace
        </a>
      </li>

      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Company
        </a>
      </li>
    </ul>

    <div class="block md:hidden">
      <button type="button" class="text-gray-700 p-2.5 yu yz adp aqm axo">
        <span class="sr-only">Open main menu</span>

        <app-heroicon name="bars-3" />
      </button>
    </div>

    <div
      class="hidden md:block text-sm leading-6 font-medium text-gray-900 hover:text-indigo-600"
    >
      <a routerLink="/dashboard" class="avv awb awk axq">
        Log in <span aria-hidden="true">→</span>
      </a>
    </div>
  </nav>
</header>

<main class="isolate">
  <div class="isolate -z-10 relative">
    <svg
      class="absolute inset-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 bex"
      aria-hidden="true"
    >
      <defs>
        <pattern
          id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84"
          width="200"
          height="200"
          x="50%"
          y="-1"
          patternUnits="userSpaceOnUse"
        >
          <path d="M.5 200V.5H200" fill="none"></path>
        </pattern>
      </defs>

      <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
        <path
          d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z"
          stroke-width="0"
        ></path>
      </svg>

      <rect
        width="100%"
        height="100%"
        stroke-width="0"
        fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)"
      ></rect>
    </svg>

    <div
      class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48"
      aria-hidden="true"
    >
      <div
        class="aspect-[801/1036] w-[50rem] bg-gradient-to-tr from-blue-800 to-red-700 opacity-40 baw"
        style="
          clip-path: polygon(
            63.1% 29.5%,
            100% 17.1%,
            76.6% 3%,
            48.4% 0%,
            44.6% 4.7%,
            54.5% 25.3%,
            59.8% 49%,
            55.2% 57.8%,
            44.4% 57.2%,
            27.8% 47.9%,
            35.1% 81.5%,
            0% 97.7%,
            39.2% 100%,
            35.2% 81.4%,
            97.2% 52.8%,
            63.1% 29.5%
          );
        "
      ></div>
    </div>

    <div class="overflow-hidden">
      <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
        <div
          class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center"
        >
          <div class="w-full max-w-xl lg:shrink-0 xl:max-w-3xl">
            <h1
              class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
            >
              We’re building computer vision on the edge.
            </h1>

            <p
              class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none"
            >
              Cupidatat minim id magna ipsum sint dolor qui. Sunt sit in quis
              cupidatat mollit aute velit. Et labore commodo nulla aliqua
              proident mollit ullamco exercitation tempor. Sint aliqua anim
              nulla sunt mollit id pariatur in voluptate cillum. Eu voluptate
              tempor esse minim amet fugiat veniam occaecat aliqua.
            </p>
          </div>

          <div
            class="mt-14 flex justify-end gap-8 sm:mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0"
          >
            <div
              class="ml-auto w-44 flex-none pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80"
            >
              <div class="relative">
                <!-- <img
                  src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;h=528&amp;q=80"
                  alt=""
                  class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                /> -->

                <img
                  src="../../../assets/cameras-2.jpeg"
                  alt=""
                  class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />

                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/5"
                ></div>
              </div>
            </div>

            <div
              class="mr-auto w-44 flex-none sm:mr-0 sm:pt-52 lg:pt-36 space-y-8"
            >
              <div class="relative">
                <!-- <img
                  src="https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;h=528&amp;q=80"
                  alt=""
                  class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                /> -->

                <img
                  src="../../../assets/bird.png"
                  alt=""
                  class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />

                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/5"
                ></div>
              </div>

              <div class="relative">
                <!-- <img
                  src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;crop=focalpoint&amp;fp-x=.4&amp;w=396&amp;h=528&amp;q=80"
                  alt=""
                  class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                /> -->

                <img
                  src="../../../assets/cameras.jpg"
                  alt=""
                  class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg"
                />

                <div
                  class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/5"
                ></div>
              </div>
            </div>

            <div class="w-44 uj abu auu cgo">
              <div class="ab">
                <img
                  src="https://images.unsplash.com/photo-1670272504528-790c24957dda?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;crop=left&amp;w=400&amp;h=528&amp;q=80"
                  alt=""
                  class="ml ti ads aiw apz bbg"
                />
                <div class="u aa af ads bbo bbs bcj"></div>
              </div>
              <div class="ab">
                <img
                  src="https://images.unsplash.com/photo-1670272505284-8faba1c31f7d?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;h=528&amp;q=80"
                  alt=""
                  class="ml ti ads aiw apz bbg"
                />
                <div class="u aa af ads bbo bbs bcj"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer></footer>
