<table class="table-auto min-w-full">
  <thead class="border-b border-gray-300">
    <tr [ngClass]="verticalLines ? 'vertical-lines' : ''">
      <th
        *ngFor="let column of columns; index as i"
        scope="col"
        class="heading"
        [ngClass]="{
          condense,
          first: i === 0,
          mid: i !== 0,
          'heading__text--upper': uppercaseHeadings,
          'heading__text--default': !uppercaseHeadings,
          'hide-below__sm': column.hideBelowBreakpoint === 'sm',
          'hide-below__md': column.hideBelowBreakpoint === 'md',
          'hide-below__lg': column.hideBelowBreakpoint === 'lg',
          'hide-below__xl': column.hideBelowBreakpoint === 'xl',
          'hide-below__2xl': column.hideBelowBreakpoint === '2xl'
        }"
      >
        {{ column.heading }}
      </th>

      <th scope="col" class="py-3.5 last relative">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let row of rowData; index as i"
      [ngClass]="{
        'border-t': !(i === 0 || stripedRows),
        'bg-gray-50': i % 2 == 1 && stripedRows,
        'vertical-lines': verticalLines
      }"
    >
      <td
        *ngFor="let column of columns; index as j"
        class="whitespace-nowrap text-sm"
        [ngClass]="{
          condense,
          first: j === 0,
          mid: j !== 0,
          'cell__text--identifier': column.dataProperty === rowIdentifier,
          'cell__text--default': column.dataProperty !== rowIdentifier,
          'hide-below__sm': column.hideBelowBreakpoint === 'sm',
          'hide-below__md': column.hideBelowBreakpoint === 'md',
          'hide-below__lg': column.hideBelowBreakpoint === 'lg',
          'hide-below__xl': column.hideBelowBreakpoint === 'xl',
          'hide-below__2xl': column.hideBelowBreakpoint === '2xl'
        }"
      >
        {{ row[column.dataProperty] }}

        <dl
          *ngIf="isStackedColumn(column)"
          class="font-normal"
          [ngClass]="{
            'show-below__sm': column.secondaryValue.showBelowBreakpoint === 'sm',
            'show-below__md': column.secondaryValue.showBelowBreakpoint === 'md',
            'show-below__lg': column.secondaryValue.showBelowBreakpoint === 'lg',
            'show-below__xl': column.secondaryValue.showBelowBreakpoint === 'xl',
            'show-below__2xl': column.secondaryValue.showBelowBreakpoint === '2xl',
          }"
        >
          <dt class="sr-only">{{ column.secondaryValue.heading }}</dt>
          <dd class="text-gray-700 mt-1">
            {{ row[column.secondaryValue.dataProperty] }}
          </dd>

          <div
            *ngIf="column.tertiaryValue"
            [ngClass]="{
              'show-below__sm': column.tertiaryValue.showBelowBreakpoint === 'sm',
              'show-below__md': column.tertiaryValue.showBelowBreakpoint === 'md',
              'show-below__lg': column.tertiaryValue.showBelowBreakpoint === 'lg',
              'show-below__xl': column.tertiaryValue.showBelowBreakpoint === 'xl',
              'show-below__2xl': column.tertiaryValue.showBelowBreakpoint === '2xl',
            }"
          >
            <dt class="sr-only">
              {{ column.tertiaryValue.heading }}
            </dt>
            <dd class="text-gray-500 mt-1">
              {{ row[column.tertiaryValue.dataProperty] }}
            </dd>
          </div>
        </dl>
      </td>

      <td class="whitespace-nowrap text-sm last" [ngClass]="{ condense }">
        <a href="#" class="text-indigo-600 hover:text-indigo-900">
          Edit

          <span *ngIf="rowIdentifier" class="sr-only">{{
            row[rowIdentifier]
          }}</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
