<table class="table-auto min-w-full">
  <thead class="border-b border-gray-300">
    <tr [ngClass]="verticalLines ? 'vertlines' : ''">
      <th
        *ngFor="let column of columns; index as i"
        scope="col"
        class="heading"
        [ngClass]="{
          'heading__text--upper': uppercaseHeadings,
          'heading__text--default': !uppercaseHeadings,
          first: i === 0,
          mid: i !== 0,
          hide__sm: column.hideBelowBreakpoint === 'sm',
          hide__md: column.hideBelowBreakpoint === 'md',
          condense
        }"
      >
        {{ column.heading }}
      </th>

      <th scope="col" class="py-3.5 last relative">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let row of rowData; index as i"
      [ngClass]="{
        'border-t': !(i === 0 || stripedRows),
        'bg-gray-50': i % 2 == 1 && stripedRows,
        vertlines: verticalLines
      }"
    >
      <td
        *ngFor="let column of columns; index as j"
        class="whitespace-nowrap text-sm"
        [ngClass]="{
          'cell__text--identifier': column.dataProperty === rowIdentifier,
          'cell__text--default': column.dataProperty !== rowIdentifier,
          first: j === 0,
          mid: j !== 0,
          hide__sm: column.hideBelowBreakpoint === 'sm',
          hide__md: column.hideBelowBreakpoint === 'md',
          condense
        }"
      >
        {{ row[column.dataProperty] }}

        <dl
          *ngIf="isTwoStackColumn(column)"
          class="font-normal"
          [ngClass]="
            column.showSecondaryBelowBreakpoint
              ? column.showSecondaryBelowBreakpoint === 'md'
                ? 'md:hidden'
                : 'sm:hidden'
              : ''
          "
        >
          <dt class="sr-only">{{ column.secondaryHeading }}</dt>
          <dd class="text-gray-700 mt-1">
            {{ row[column.secondaryDataProperty] }}
          </dd>

          <ng-container *ngIf="isThreeStackColumn(column)">
            <dt
              class="sr-only"
              [ngClass]="
                column.showTertiaryBelowBreakpoint
                  ? column.showTertiaryBelowBreakpoint === 'md'
                    ? 'md:hidden'
                    : 'sm:hidden'
                  : ''
              "
            >
              {{ column.tiertiaryHeading }}
            </dt>
            <dd
              class="text-gray-500 mt-1"
              [ngClass]="
                column.showTertiaryBelowBreakpoint
                  ? column.showTertiaryBelowBreakpoint === 'md'
                    ? 'md:hidden'
                    : 'sm:hidden'
                  : ''
              "
            >
              {{ row[column.tiertiaryDataProperty] }}
            </dd>
          </ng-container>
        </dl>
      </td>

      <td class="whitespace-nowrap text-sm last" [ngClass]="{ condense }">
        <a href="#" class="text-indigo-600 hover:text-indigo-900">
          Edit

          <span *ngIf="rowIdentifier" class="sr-only">{{
            row[rowIdentifier]
          }}</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
