<table class="table-auto min-w-full">
  <thead class="border-b border-gray-300">
    <tr>
      <th
        *ngFor="let column of columns; index as i"
        scope="col"
        class="heading"
        [ngClass]="{
          'heading__text--upper': uppercaseHeadings,
          'heading__text--default': !uppercaseHeadings,
          first: i === 0,
          mid: i !== 0,
          hide__sm: column.hideBelowBreakpoint === 'sm',
          hide__md: column.hideBelowBreakpoint === 'md'
        }"
      >
        {{ column.heading }}
      </th>

      <th scope="col" class="py-3.5 last relative">
        <span class="sr-only">Edit</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let row of rowData; index as i"
      [ngClass]="{
        'border-t': !(i === 0 || stripedRows),
        'bg-gray-50': i % 2 == 1 && stripedRows
      }"
    >
      <td
        *ngFor="let column of columns; index as j"
        class="whitespace-nowrap text-sm py-4"
        [ngClass]="{
          'cell__text--identifier': column.dataProperty === rowIdentifier,
          'cell__text--default': column.dataProperty !== rowIdentifier,
          first: j === 0,
          mid: j !== 0,
          hide__sm: column.hideBelowBreakpoint === 'sm',
          hide__md: column.hideBelowBreakpoint === 'md'
        }"
      >
        {{ row[column.dataProperty] }}
      </td>

      <td class="whitespace-nowrap text-sm py-4 last">
        <a href="#" class="text-indigo-600 hover:text-indigo-900">
          Edit

          <span *ngIf="rowIdentifier" class="sr-only">{{
            row[rowIdentifier]
          }}</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
