<div class="m-10 py-10 bg-white border rounded-lg">
  <div class="sm:flex sm:items-center sm:justify-between px-6">
    <div>
      <h1 class="font-semibold text-gray-900">Users</h1>
      <p class="text-sm font-light text-slate-700 mt-2">
        A list of all the users in your account including their name, title,
        email and role.
      </p>
    </div>

    <div class="sm:ml-16 sm:mt-0 mt-4">
      <button
        class="rounded-md bg-indigo-600 text-white text-sm text- text-center font-semi-bold py-2 px-3 whitespace-nowrap"
      >
        Add user
      </button>
    </div>
  </div>

  <div class="mt-8 px-6 py-2">
    <table class="table-auto min-w-full">
      <thead>
        <tr>
          <th
            scope="col"
            class="text-left text-sm text-gray-900 font-semibold pl-4 sm:pl-0 pr-3 py-3.5"
          >
            Name
          </th>

          <th
            scope="col"
            class="text-left text-sm text-gray-900 font-semibold px-3 py-3.5"
          >
            Title
          </th>

          <th
            scope="col"
            class="text-left text-sm text-gray-900 font-semibold px-3 py-3.5"
          >
            Email
          </th>

          <th
            scope="col"
            class="text-left text-sm text-gray-900 font-semibold px-3 py-3.5"
          >
            Role
          </th>

          <th scope="col" class="pl-3 pr-4 sm:pr-0 py-3.5 relative">
            <span class="sr-only">Edit</span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td
            class="whitespace-nowrap text-gray-900 text-sm font-medium pl-4 sm:pl-0 pr-3 py-4"
          >
            Lindsay Walton
          </td>

          <td class="whitespace-nowrap text-gray-500 text-sm py-4 px-3">
            Front-end Developer
          </td>

          <td class="whitespace-nowrap text-gray-500 text-sm py-4 px-3">
            lindsay.walton@example.com
          </td>

          <td class="whitespace-nowrap text-gray-500 text-sm py-4 px-3">
            Member
          </td>

          <td class="whitespace-nowrap text-sm py-4">
            <a href="" class="text-indigo-600 hover:text-indigo-900">
              Edit
              <span class="sr-only">, Lindsay Walton</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
