<header class="absolute top-0 inset-x-0 z-50">
  <nav
    class="flex items-center justify-between p-6 md:px-8"
    aria-label="Global"
  >
    <div class="ls cxe">
      <a href="#" class="flex p-1.5">
        <span class="sr-only">Your Company</span>

        <img
          class="h-6 w-auto"
          src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600"
          alt=""
        />
      </a>
    </div>

    <ul class="hidden md:flex gap-x-12">
      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Product
        </a>
      </li>

      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Features
        </a>
      </li>

      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Marketplace
        </a>
      </li>

      <li>
        <a
          routerLink="/dashboard"
          class="text-gray-900 font-medium text-sm leading-6 hover:text-indigo-600"
        >
          Company
        </a>
      </li>
    </ul>

    <div class="block md:hidden">
      <button type="button" class="text-gray-700 p-2.5 yu yz adp aqm axo">
        <span class="sr-only">Open main menu</span>

        <app-heroicon name="bars-3" />
      </button>
    </div>

    <div
      class="hidden md:block text-sm leading-6 font-medium text-gray-900 hover:text-indigo-600"
    >
      <a routerLink="/dashboard" class="avv awb awk axq">
        Log in <span aria-hidden="true">→</span>
      </a>
    </div>
  </nav>
</header>

<main class="isolate">
  <div class="pt-14 relative">
    <div class="absolute inset-x-0 -z-10 -top-60 blur-3xl" aria-hidden="true">
      <div class="overflow-hidden">
        <div
          class="bg-gradient-to-r from-cyan-500 to-blue-500 aspect-[1155/678] -translate-x-1/4 rotate-[50deg] scale-110 opacity-30 w-[72rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>
    </div>

    <div class="my-24 md:my-32">
      <div class="px-16 lg:px-8 max-w-7xl mx-auto">
        <!-- Main advertisement -->
        <section class="text-center max-w-2xl mx-auto">
          <h1 class="text-5xl md:text-6xl text-gray-800 font-bold">
            Local computer vision in a box
          </h1>

          <p class="mt-8 text-gray-500 leading-9 text-xl">
            Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
            lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat
            fugiat aliqua.
          </p>

          <div class="flex items-center gap-x-6 justify-center mt-10">
            <a
              routerLink="/dashboard"
              class="shadow-sm text-white font-medium text-sm py-2.5 px-3.5 bg-indigo-600 hover:bg-indigo-500 rounded-md"
            >
              Get started
            </a>

            <a
              routerLink="/dashboard"
              class="text-gray-700 hover:text-indigo-600 font-semibold leading-6 text-sm"
            >
              Learn more <span aria-hidden="true">→</span>
            </a>
          </div>
        </section>

        <!-- Image -->
        <div class="mt-24 sm:mt-16 flow-root">
          <div class="fn ads aiw aql bbo bbs bcj csr das dcl">
            <img
              src="https://tailwindui.com/img/component-images/project-app-screenshot.png"
              alt="App screenshot"
              width="2432"
              height="1442"
              class="rounded-md ring-1 ring-gray-900 shadow-2xl"
            />

            <!-- <img
              src="../../assets/cameras.jpg"
              alt="App screenshot"
              width="2432"
              height="1442"
              class="rounded-md ring-1 ring-gray-900 shadow-2xl"
            /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
