<div class="m-10 py-10 bg-white border rounded-lg">
  <div class="md:flex md:items-center md:justify-between px-6">
    <div>
      <h1 class="font-semibold text-gray-900">Users</h1>
      <p class="text-sm font-light text-slate-700 mt-2">
        A list of all the users in your account including their name, title,
        email and role.
      </p>
    </div>

    <div class="md:ml-16 md:mt-0 mt-4">
      <button
        class="rounded-md bg-indigo-600 hover:bg-indigo-500 text-white text-sm text- text-center font-semi-bold py-2 px-3 whitespace-nowrap"
      >
        Add user
      </button>
    </div>
  </div>

  <div class="mt-8 md:px-6">
    <app-simple-table
      [columns]="tableColumns"
      [rowData]="users"
      [rowIdentifier]="rowIdentifier"
    />
  </div>
</div>
