<div
  class="w-72 min-w-72 fixed top-0 bottom-0 flex flex-col gap-y-5 p-6 pt-0 border-r"
>
  <div class="h-16 flex items-center">
    <img
      class="w-auto h-8"
      src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600"
      alt="Your Company Logo"
    />
  </div>

  <nav class="grow">
    <div class="sr-only">
      {{ navConfig.primary.name }}
    </div>

    <ul role="list" class="h-full flex flex-col gap-y-7">
      <li>
        <ul role="list">
          <li
            *ngFor="let item of navConfig.primary.items; index as i"
            [ngClass]="i !== 0 ? 'mt-1' : ''"
          >
            <app-nav-item [item]="item" [active]="activeNav" />
          </li>
        </ul>
      </li>

      <li *ngIf="navConfig.secondary">
        <div class="text-xs text-gray-400 tracking-wide leading-6 font-medium">
          {{ navConfig.secondary.name }}
        </div>

        <ul role="list" class="mt-2">
          <li
            *ngFor="let item of navConfig.secondary.items; index as i"
            [ngClass]="i !== 0 ? 'mt-1' : ''"
          >
            <app-nav-item [item]="item" [active]="activeNav" />
          </li>
        </ul>
      </li>

      <li class="mt-auto">
        <button
          class="flex gap-x-3 text-sm leading-6 font-medium w-full p-2 hover:bg-gray-50 hover:text-indigo-600"
        >
          <app-heroicon
            name="cog-6-tooth"
            [classNames]="'w-6 h-6 text-gray-400'"
          />
          Settings
        </button>
      </li>
    </ul>
  </nav>
</div>

<div class="pl-72">
  <main class="p-8">
    <ng-content />
  </main>
</div>
